html {
    height: 100%;
}
.container {
    margin-top: 80px;
    text-align: center;
    background: #da1f47;
    color: #d6da22;
}
.container .jumbotron {
    background: #f01606;
    color: #15e5ec;
}
.jumbotron a {
    background-color: yellow;
    border: solid blue 3px;
}
body {
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
    background-color: blue;
    border: red 4px solid;  
}
img {
    height:  200px;
    width:  30%;
    margin: 1.5%;
    float: left;
    border: solid red 4px;
}
p {
   text-align: center; 
   font-size: 30px;
}
#tab {
    background-color: yellow;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
 }
#tab th, #tab td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
 }
#tab th {
    background-color: #f2f2f2;
}
#tab tr:nth-child(even) {
    background-color: #f2f2f2;
}
#tab tr:hover {
    background-color: tomato;
}
#tab tr:nth-of-type(even) {
    background-color: blueviolet;
}
.btncolor {
    color: black;
}